@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&family=Source+Serif+4:ital,opsz,wght@0,8..60,500;0,8..60,600;1,8..60,400&family=Work+Sans:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* Header */
.head-container{
    width: 90%;
    height: 40px;
    display: flex;
    margin: 10px auto 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.head-container a{
    text-decoration: none;
    color: black;
}
.nav-belt{
    border: solid 2px black;
    width: 130px;
}
.nav-belt h1{
    font-size: 2rem;
}
.nav-bar {
    display: flex;
}
.nav-bar .ul-items {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .ul-items .list-items {
    margin-right: 30px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 0.875rem;
    font-weight: 300;
    position: relative;
    cursor: pointer;
}
.nav-bar .ul-items .list-items:hover{
    background-color: gray;
}
.list-items .item-down{
    display:none;
    position: absolute;
    margin: 0.5rem 0;
    background-color: #f2f2f2;
    height: 100px;
    left: 0;
    right: 0;
    z-index: 2;
}
.list-items .item-down:before{
    content: "";
    height: 0.5rem;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
}
.list-items:hover .item-down{
    display: block;
}
.list-items .item-down .down-item{
    color: black;
    font-size: 0.875rem;
    font-weight: 300;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    height: 25%;
    width: 100%;
}

.list-items .item-down li:hover{
    background-color: rgb(202, 194, 194);
    transition: all 0.3s ease-in-out;

}
.list-items .item-down:first-child{
    border-radius: 5px 5px 0 0;
}
.list-items .item-down:last-child{
    border-radius: 0 0 5px 5px;
}
.nav-bar .ul-items .list-items a {
    text-decoration: none;
    color: black;
}
.head-container .action{
    display: none;
}


/* banner */
#banner {
    width: 100%;
    background-image :url("./assets/img/Samsung-bat-dau-thu-nghiem-ban-le-giot-nuoc-tren-galaxy-z-fold-5-xtmobile-730x382-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    margin-top:40px;
    display: flex;
    padding:0px 133px;
    position:relative;
    z-index: 1;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner .box-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner  .box-left h2 {
    margin-top: 40px;
    color:#fff;
    font-size: 2rem;
    font-weight: bolder;
}

#banner .box-left p {
    color:#D0D0D0;
    margin: 10px 0;
    width: 100%;
    max-width: 350px;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s ease-in-out;
}

#banner .box-left button:hover {
    cursor: pointer;
    background:rgb(170,165,148);
}

#banner .box-right {
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#banner .box-right img {
    /* margin: 20px 10px; */
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    width: min(70%,130px);
    height: 60%;
    object-fit:fill;
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{    
    width: min(70%,130px);
    height: 80%;
    object-fit:fill;
    animation-delay: 1s;
}
#banner .box-right img:nth-child(3){
    width: min(70%,130px);
    height: 60%;
    object-fit:fill;
    animation-delay: 0.35s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

#wp-products {
    margin: 120px auto;
    width: 90%;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}

/* list produce */
#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 18.33333333vw;
    padding: 3.33333333vw 0vw 1.66666667vw 0vw;
    border-radius: 1.38888889vw;
    background:#362f2f;
    margin-bottom: 50px;
}

#list-products .item .item-image{
    width: 100%;
    height: 48%;
}

#list-products .item img {
    width: 90%;
    height: 100%;
    object-fit: fill;
    display: block;
    margin:17px auto 0;
}

#list-products .item .stars {
    display: flex;
    margin:0px auto;
    justify-content: space-between;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .desc {
    text-align: center;
    color:#626a67;
    margin-top: 10px;
}

#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* description */
.description{
    width: 90%;
    margin: 100px auto 0;
}

.description .start{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
}

.description .start p{
    font-size: 1.25rem;
    line-height: 22px;
    margin: 0 auto;
}

.description .description-item{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
}



.description .description-item .item-left img{
    object-fit: scale-down;
    width: 100%;
    height: 100%
}

.description .description-item .item-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}


.description .description-item .item-right h3{
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    max-width: 750px;
    width: 113%;
}

.description .description-item .item-right p{
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
    max-width: 600px;
    width: 113%;
    margin-top: 10px;
}

.description .description-item2{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(201, 200, 200);
}

.description .description-item2 .item-left img{
    object-fit: scale-down;
    width: 100%;
    height: 100%
}

.description .description-item2 .item-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}


.description .description-item2 .item-right h3{
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    max-width: 710px;
    width: 100%;
}

.description .description-item2 .item-right p{
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
    max-width: 550px;
    width: 100%;
    margin-top: 10px;
}
/* footer */
footer {
    display: flex;
    position: relative;
    width: 90%;
    margin: 40px auto 0;
    /* top: 100px; */
    border-radius: 10px;
    padding: 30px;
    height: auto;
    font-size: 14px;
    justify-content: space-between;
    color: black;
}
.shop{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.shop h3{
    font-size: 1.25rem;
    font-weight: 600;
    line-height:25px;
}
.location p {
    margin-left: 6%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height:20px;
}
.mxh {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.mxh h3{
    font-size: 1.25rem;
    font-weight: 600;
    line-height:25px;
}
.mxh .icons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
    height: 30px;
}
.mxh i {
    cursor: pointer;
}
.mxh ul li {
    margin-left: 6%;
    cursor: pointer;
    list-style-type: none;
    font-size: 0.875rem;
    font-weight: 400;
    line-height:20px;
}
.fanpage{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.fanpage h3{
    line-height:25px;
}
.fanpage p{
    line-height:20px;
}